


// Typography
$font-header-one: "Archivo Narrow";
$font-copy: "Archivo Narrow";



$brand-color-one: #2fb135;
$brand-color-two: #2fb135;
$brand-color-three: #2fb135;


//Branded colors
$green: #2fb135;
$blue: #005568;
$light-blue: #9bbecb;


// Typography Colors
$header-font-color: #444444 !default;
$header-link-color: #d04526 !default;
$header-link-hover-color: #c03d20 !default;

$copy-font-color: #444444 !default;